@page "/leadboard"
@using System.Globalization
@inherits HighScoreBase

<h1>Top 10 Users by Profit</h1>

@if (Predictions == null)
{
    <p>Loading predictions...</p>
}
else if (!Predictions.Any())
{
    <p>No users found.</p>
}
else
{
    <div class="table-container">

        <table class="table ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Profit</th>
                    <th>Roi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prediction in Predictions)
                {
                    var isCurrentUser = prediction.Email.Equals(CurrentUserEmail, StringComparison.OrdinalIgnoreCase) ? "highlight-row" : "";
                    <tr class="@isCurrentUser">
                        <td>@(Predictions.IndexOf(prediction) + 1)</td>
                        <td>@prediction.Email</td>
                        <td>@prediction.Profit.ToString("C0", CultureInfo.CreateSpecificCulture("da-DK"))</td>
                        <td>@prediction.Roi %</td>
                    </tr>
                
                }
            </tbody>
            @if (Predictions != null && Predictions.Any() && CurrentUserPosition.HasValue && CurrentUserPosition > 10)
            {
                <tfoot>
                    <tr class="highlight-row">
                        <td>@CurrentUserPosition</td>
                        <td>@CurrentUserEmail</td>
                        <td>@Predictions.SingleOrDefault(p => p.Email.Equals(CurrentUserEmail, StringComparison.OrdinalIgnoreCase))?.Profit.ToString("C0", CultureInfo.CreateSpecificCulture("da-DK"))</td>
                        <td>@Predictions.SingleOrDefault(p => p.Email.Equals(CurrentUserEmail, StringComparison.OrdinalIgnoreCase))?.Roi.ToString("C0", CultureInfo.CreateSpecificCulture("da-DK"))</td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
}