@page "/pending"
@inherits PendingPredictionsBase

<body>

    @if (Predictions == null)
    {
        <span>Loading Predictions...</span>
    }
    else
    {
        <div class="table-container">

            <table class="table ">
                <thead>
                    <tr>
                        <th>Kick Off</th>
                        <th>League</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Odds</th>
                        <th>Tip</th>
                        <th>Stake</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prediction in Predictions)
                    {
                        <tr>
                            <td>@prediction.KickOff.ToShortDateString()</td>
                            <td>@prediction.LeagueName</td>
                            <td>@prediction.HomeTeam</td>
                            <td>@prediction.AwayTeam</td>
                            <td>@prediction.Odds</td>
                            <td>@prediction.Tip</td>
                            <td>@prediction.Stake</td>
                            <td>
                                <button class="btn btn-primary-edit"
                                @onclick="(() => ShowPrediction_Click(prediction.Id))">
                                    <ion-icon class="oi" name="create-outline"></ion-icon>
                                </button>
                                <button class="btn btn-primary-edit"
                                @onclick="(() => DeletePredictionClick(prediction.Id))">
                                    <ion-icon class="oi " name="trash-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn my-btn-primary"
                @onclick="(() => CreateNewPrediction_Click())">
                Create Prediction
            </button>
        </div>
    }
</body>



