@page "/history"
@inherits PredictionHistoryBase

<body>

    @if (Predictions == null)
    {
        <span>Loading Predictions...</span>
    }
    else
    {
        <div class="table-container">

            <table class="table rounded-lg">
                <thead class="rounded-top">
                    <tr>
                        <th>Kick Off</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Odds</th>
                        <th>Tip</th>
                        <th>Stake</th>
                        <th>Profit</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prediction in Predictions)
                    {
                        <tr class="@SetCssClass(prediction.Status)">
                            <td>@prediction.KickOff.ToShortDateString()</td>
                            <td>@prediction.HomeTeam</td>
                            <td>@prediction.AwayTeam</td>
                            <td>@prediction.Odds</td>
                            <td>@prediction.Tip</td>
                            <td>@prediction.Stake</td>
                            <td>@prediction.Profit Kr.</td>
                            <td>@prediction.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</body>



